/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
  margin-left: 20px;
  font-size: 40px;
  opacity: 0.7;
 }

 p{
  opacity:0.7;
  font-size: 18px;
 }

 .text {
  padding-left: 20px;
  width: 800px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
 }

 form {
  display: flex;
  align-items: center;
 }

 .submit {
  height: 50px;
  width: 100px;
  background-color: blue;
  color: white;
  font-size: 26px;
  border-radius: 5px;

 }

.container * {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 20px;
  position: relative;
}

.container *::before {
  content: ' ';
  position: absolute;
  height: 100%;
  background-color: rgba(182, 178, 178, 0.3);
  left: -20px;
  width: 10px;
}

.ask {
  padding-left: 10px;
}

.answer {
  padding-left: 10px;
  background-color: rgba(218, 150, 97, 0.3);
}

.btn {
  font-size: 20px;
  margin: 40px 0 0 20px;
}

.btn a {
  text-decoration: none;
  color: blue;
}
